<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TO DO LIST</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
 <div id="heading">
  <h1 ><%= listitle %></h1>
 </div>

<div class="box">
    <% for(var i = 0; i<newlistitems.length; i++) { %>
    <div class="item">
        <input type="checkbox">
        <p><%= newlistitems[i] %></p>
    </div>
      <% } %>

      <form  action="/" method="post">
        <input type="text" name="newitem" placeholder="enter the task!" autocomplete="off">
        <button type="submit" name="list" value="<%= listitle %>">+</button>
      </form>

</div>
  </body>

  <footer>Created by <i>FIRDAUS JAWED</i> </footer>
</html>
